<h2>Notification Settings</h2>
<p>Set up your notification preferences here.</p>
<hr />
<div class="card-div setting-bg border-radius-5">
    <h3>Notification Manager</h3>
    <div class="theme-toggle-container">
        <p>
            Enable email notification:
            <i class='bx bx-help-circle' title="Turn this on to receive important updates and alerts via email."></i>
        </p>
        <label class="theme-switch">
            <input type="checkbox" id="emailnotifToggle">
            <span class="drin-slider"></span>
        </label>
    </div>

    <div class="theme-toggle-container">
        <p>
            Enable system notification:
            <i class='bx bx-help-circle' title="Turn this on to receive real-time notifications directly within the system."></i>
        </p>
        <label class="theme-switch">
            <input type="checkbox" id="systemnotifToggle">
            <span class="drin-slider"></span>
        </label>
    </div>
</div>