@{
    string activeTab = ViewData["ActiveTab"] as string;
}

<div class="cases-tab">
    <div class="tab @(activeTab == "_loc" ? "active" : "")" onclick="location.href='@Url.Action("LetterComplaints", "CaseManagement")'">
        Letter Complaints
    </div>
    <div class="tab @(activeTab == "_dc" ? "active" : "")" onclick="location.href='@Url.Action("DocketedCases", "CaseManagement")'">
        Docketed Cases
    </div>
</div>