@model TRACE.Models.Erccase

@{
    ViewData["Title"] = "Create";
}


<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > <a href="javascript:history.back();">Case Management</a> > Create
</div>
<form id="createForm" asp-action="Create">
    <div class="main-head-div flex h-center space-between">
        <div class="title-div">
            <h3>CREATE CASE</h3>
            <p>This page is for creating erc case</p>
        </div>
    
        <div class="btn-div">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

    <div class="case-card shadow border-radius-5">
        <div class="form-div  create-lc">
                <div class="grid grid-three-fr gap-10">

                    <div class="form-input-div">
                        <label asp-for="CaseCategoryId" class="control-label"></label><span style="color:red">*</span>
                        <select asp-for="CaseCategoryId" class="form-control" asp-items="ViewBag.CaseCategoryId" id="CaseCategoryIdDropdown">
                            <option selected disabled>Select Case Category</option>
                        </select>
                    </div>
                    <div class="form-input-div">
                    <label asp-for="CaseNature" class="control-label"></label><span style="color:red">*</span>
                        <select asp-for="CaseNatureId" class="form-control" asp-items="ViewBag.CaseNatureId" id="CasenatureIdDropdown">
                            <option selected disabled>Select Case Nature</option>
                        </select>
                    </div>
                    <div class="form-input-div">
                        <label asp-for="MeterSin" class="control-label">Meter Sin</label>
                        <input asp-for="MeterSin" class="form-control" />
                    </div>
                    <div class="form-input-div">
                        <label>Remarks</label>
                        <textarea></textarea>
                    </div>
                    <div class="form-input-div">
                        <label asp-for="Title" class="control-label"></label><span style="color:red">*</span>
                        <textarea asp-for="Title" class="form-control"></textarea>
                    </div>
                </div>

                <div class="grid grid-five-fr gap-10">
                    <div class="form-input-div">
                    <label asp-for="DateFiled" class="control-label">Date Filed</label><span style="color:red">*</span>
                        <input asp-for="DateFiled" class="form-control" type="date" />
                    </div>
                    <div class="form-input-div">
                        <label asp-for="DateDocketed" class="control-label">Date Docketed</label>
                        <input asp-for="DateDocketed" class="form-control" type="date" />
                   
                    </div>
                    <div class="form-input-div">
                    <label asp-for="NoOfFolders" class="control-label">No. of Folders</label><span style="color:red">*</span>
                    <input asp-for="NoOfFolders" class="form-control" type="number" />
                 
                    </div>
                    <div class="form-input-div">
                        <label asp-for="AmountClaimed" class="control-label">Amount Claimed</label>
                        <input asp-for="AmountClaimed" class="form-control" type="text" />
                    </div>
                    <div class="form-input-div">
                        <label asp-for="AmountSettled" class="control-label">Amount Settled</label>
                        <input asp-for="AmountSettled" class="form-control" type="text" />
                   
                    </div>
                    <div class="form-input-div">
                        <label asp-for="TargetPaissuance" class="control-label">Target PA Issuance</label>
                        <input asp-for="TargetPaissuance" class="form-control" type="date" />
                    </div>
                    <div class="form-input-div">
                        <label asp-for="TargetPaissuance" class="control-label">TARGET FA Issuance</label>
                        <input asp-for="TargetPaissuance" class="form-control" type="date" />
                   
                    </div>
                    <div class="form-input-div">
                        <label asp-for="PadeliberationDate" class="control-label">PA Deliberation Date</label>
                        <input asp-for="PadeliberationDate" class="form-control" type="date" />
                 
                    </div>
                    <div class="form-input-div">
                        <label asp-for="FadeliberationDate" class="control-label">FA Deliberation Date</label>
                        <input asp-for="FadeliberationDate" class="form-control" type="date" />
                   
                    </div>
                    <div class="form-input-div">
                        <label asp-for="PatargetOrder" class="control-label">PA Target Order</label>
                        <input asp-for="PatargetOrder" class="form-control" type="date" />
                   
                    </div>
                    <div class="form-input-div">
                        <label asp-for="FatargetOrder" class="control-label">FA Target Order</label>
                        <input asp-for="FatargetOrder" class="form-control" type="date" />
                   
                    </div>
                    <div class="form-input-div">
                        <label asp-for="Synopsis" class="control-label">Synopsis</label>
                        <input asp-for="Synopsis" class="form-control" type="text" />
                    </div>
                    <div class="form-input-div">
                        <label asp-for="SubmittedForResolution" class="control-label">Submitted for Resolution</label>
                        <input asp-for="SubmittedForResolution" class="form-control" type="date" />
                    </div>
                </div>
        </div>
    </div>
 </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            const element = document.getElementById('CaseCategoryIdDropdown');
            const choices = new Choices(element, {
                searchEnabled: true,
                searchFuzzy: true,
                removeItemButton: true,
                placeholder: true,
                placeholderValue: 'Search Case Category',
                searchChoices: true,
                searchResultLimit: 9,
                position: 'bottom',
            });

            const element2 = document.getElementById('CasenatureIdDropdown');
            const choices2 = new Choices(element2, {
                searchEnabled: true,
                searchFuzzy: true,
                removeItemButton: true,
                placeholder: true,
                placeholderValue: 'Search Case Nature',
                searchChoices: true,
                searchResultLimit: 9,
                position: 'bottom',
            });

            $("#createForm").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    url: $(this).attr("action"),
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: "Success!",
                                text: response.message,
                                icon: "success",
                                confirmButtonText: "OK",
                                customClass: {
                                    popup: "swal2-popup",
                                    confirmButton: "swal2-confirm"
                                }
                            }).then(() => {
                                $("#createForm")[0].reset();
                            });
                        } else {
                            Swal.fire({
                                title: "Error!",
                                text: "Please make sure all fields are filled up! " + response.message,
                                icon: "error",
                                confirmButtonText: "Try Again"
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: "Oops!",
                            text: "Something went wrong. Please try again.",
                            icon: "error",
                            confirmButtonText: "OK",
                            customClass: {
                                popup: "swal2-popup",
                                confirmButton: "swal2-confirm"
                            }
                        });
                    }
                });
            });
        });

    </script>
}
