:root {
    --theme: #FFF;
    --primary-color: #1A33B6;
    --secondary-color: #F6B37E;
    --body-color: #F2F4F8;
    --active-color: #aeaeae63;
    --font-color: 1E1E1E;
    --heading-color: var(--primary-color);

    /***/
    --font-heading: Montserrat;
    --font-body: Poppins;
}

*{
    margin:0;
    box-sizing:border-box;
    color: var(--font-color);
}

body{
    font-family: var(--font-heading);
    background: var(--body-color);
}

h1, h2, h3, h4{
    font-family: var(--font-heading);
    font-weight:600;
    margin-bottom:15px;
}


h1, h3 {
    font-weight: 800;
}

hr{
    margin:20px 0px;
}

p{
    margin-bottom: 10px;
}

a{
    text-decoration:none;
    color: var(--primary-color);
    font-weight:500;
}

a:hover{
    color: var(--secondary-color);
}

button, input[type="submit"]{
    background: var(--primary-color);
    color:#fff;
    cursor:pointer;
    border:none;
    padding:10px 15px;
    font-family:var(--font-body);
}

button:hover, input[type="submit"]:hover {
    background: var(--secondary-color);
}

button .bx-plus{
    color:#fff;
}

.submit-div {
    display: flex;
    justify-content: flex-end;
}

.crumbs{
    margin:20px 0px;
    color: var(--font-color);
}

/*LOADER CADS*/
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--theme);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    flex-direction: column;
    font-size: 18px;
    color: var(--font-color);
    font-weight: bold;
}

.mini-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    flex-direction: column;
    font-size: 18px;
    color: var(--font-color);
    font-weight: bold;
    pointer-events: none;
}



.loader-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/*LOADER CADS*/


/*FLEx*/
.flex{
    display:flex;
}

.h-center{
    align-items:center;
}

.gap-10{
    gap:10px;
}

.gap-20 {
    gap: 20px;
}

.space-between{
    justify-content:space-between;
}

@media screen and (max-width:999px) {
    .flex-card {
        flex-direction: column;
        gap:0px !important;
    }

    .flex-card div {
        width: 100%;
    }
}
/*FLEx*/

/*CLICKABLES*/
.clickable{
    color: var(--primary-color);
    cursor:pointer;
    font-weight:500;
}

.clickable:hover{
    color: var(--secondary-color);
}
/*CLICKABLES*/

/*borders*/
.border-radius-5{
    border-radius:5px;
}
/*borders*/

/*GRID*/
.grid{
    display:grid;
}

.grid-header{
    grid-template-columns:50px 1fr 1fr 1fr;
}

.grid-four-fr{
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.grid-cms{
    grid-template-columns:300px 1fr;
}

@media screen and (max-width:999px){
    .grid-four-fr{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:599px) {
    .grid-four-fr {
        grid-template-columns: 1fr;
    }
}
/*GRID*/

/*shadow*/
.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*shadow*/

/*HEADER*/
.upper-header {
    width: 100%;
    height: auto;
    top: 0;
    position: fixed;
    background: var(--primary-color);
    z-index: 99999;
    padding:10px 15px;
}

.grid-menu-div i{   
    cursor:pointer;
    color: #fff;
    font-size:25px;
    padding:5px;
    border-radius:50px;
}

.grid-menu-div i:hover {
    background: var(--active-color);
}

.logo-div h3{
    margin:0;
    color: #fff;
}

.search-bar-div{
    justify-content:center;
}

.search-design {
    background:#fff;
    padding:4px 15px;
    width:350px;
    border-radius:5px;
}

.search-design i {
    color: #444;
}

.search-design input{
    border:none;
    background:none;
    height:25px;
    font-size:13px;
    outline:none;
    color:#444;
    width:100%;
    font-family: var(--font-body);
}

.menu-user-div {
    justify-content: flex-end;
}

.menu-user-div i {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
}

.menu-user-div i:hover {
    background: var(--active-color);
}

.profile-menu-wrapper {
    position: relative;
    display: inline-block;
}

.profile-menu i {
    display: block;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 10px 6px;
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
}

.profile-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--theme);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 999;
    min-width: 200px;
    overflow: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.notif-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--theme);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 999;
    min-width: 300px;
    overflow: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.notif-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.profile-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.user-info span{
    display:block;
}

.profile-dropdown span {
    font-size: 14px;
    color: var(--font-color);
}


.profile-dropdown .user-name {
    color:var(--primary-color);
}

.profile-dropdown .user-email{
    font-size:11px;
}

.user-info{
    padding:10px;
}

.profile-dropdown{
}

.profile-dropdown a {
    display: block;
    padding: 10px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
}

.profile-dropdown a:hover {
    background-color: var(--active-color);
}

.notif-list{
    list-style:none;
    padding:0px;
}

.notif-list li{
    padding:10px 20px;
    border-bottom:1px solid #b9b9b9;
    cursor:pointer;
}

.notif-list li:hover {
    background: var(--active-color);
}

.notif-list li:last-of-type{
    border-bottom: none;
}

.notif-list li strong{
    display:block;
    color: var(--primary-color);
    margin-bottom:10px;
}

.notif-list li .ndesc {
    font-size: 13px;
    margin-bottom:10px;
    color: #989898;
    display:block;
}

.notif-list li .ndate {
    font-size:11px;
    color:#989898;
    font-style:italic;
}

@media screen and (max-width: 799px) {
    .search-design {
        width: auto;
    }
}
/*HEADER*/

/*SIDE NAVIGATION*/
header {
    width: 65px;
    height: 100vh;
    position: fixed;
    top: 55px;
    left: 0;
    background: var(--theme);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

header:hover {
    width: 250px;
}

.logo-div img {
    width: 49px;
}

.trace-logo {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.trace-logo h3{
    margin:0px;    
}

.trace-logo span {
    font-size: 9px;
    font-style: italic;
    opacity: 0;
    display: block;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Delay hiding */
}

header:hover .trace-logo {
    opacity: 1;
    transform: translateX(0);
}


header:hover .trace-logo span {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}


.logo-div img {
    width: 39px;
}

.main-menu span{
    margin-left:20px;
    font-size:12px;
}

.main-menu ul {
    margin-top: 20px;
    list-style: none;
    padding:0px;
}

.main-menu ul li {
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    border-right: 4px solid var(--theme);
    transition: background 0.3s ease, border-right 0.3s ease;
    white-space: nowrap;
}

.main-menu ul li span {
    color: var(--font-color);
}

.main-menu ul li img {
    width: 21px;
}

.main-menu ul li i {
    font-size: 25px;
}

.main-menu ul li span {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}


header:hover .main-menu ul li span {
    opacity: 1;
    transform: translateX(0);
}


.main-menu ul li:hover {
    background: var(--active-color);
    border-right: 4px solid var(--primary-color);
}


.has-dropdown {
    cursor: pointer;
}

.has-dropdown.open {
    background: var(--active-color);
    border-right: 4px solid var(--primary-color);
}

.cads-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    list-style: none;
    padding-left: 20px;
    margin:0px !important;
}

.cads-dropdown li {
    padding: 8px 20px 8px 40px !important;
    font-size:13px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cads-dropdown li:hover {
    background: var(--active-color);
}

.has-dropdown.open + .cads-dropdown {
    max-height: 200px;
}

.has-dropdown.open + .cads-dropdown li {
    opacity: 1;
    transform: translateY(0);
}
/*SIDE NAVIGATION*/


/*CONTAINER*/
.container{
    margin:60px 0px 0px 70px;
    padding:20px 40px;
}
/*CONTAINER*/

/* SETTINGS */
.settings-tab {
    display: flex;
    border-bottom: 2px solid #ddd;
    gap: 10px;
}

.settings-tab .tab {
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--font-color);
    background-color: var(--theme);
    transition: background-color 0.2s, color 0.2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.settings-tab .tab:hover {
    background-color: var(--active-color);
    color: var(--font-color);
}

.settings-tab .tab.active {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

.setting-card{
    background: var(--theme);
    padding:20px;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-heading);
    font-size: 14px;
    color: var(--font-color);
    margin-bottom:10px;
    margin-left:25px;
}

.theme-toggle-container p {
    margin: 0px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.drin-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    transition: 0.4s;
    border-radius: 25px;
}

.drin-slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .drin-slider {
    background: var(--primary-color);
}

input:checked + .drin-slider:before {
    transform: translateX(25px);
}

.color-options {
    display: flex;
    gap: 5px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-option.selected {
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.setting-bg{
    padding:15px;
    background:var(--theme);
}

/*CMS*/
.cms-nav {
    padding: 20px 0;
}

.cms-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cms-nav li {
    padding: 15px 20px;
    cursor: pointer;
}

.cms-nav li.active {
    background-color: var(--primary-color);
    color: #fff;
}

.cms-nav li.active i {
    color: #fff;
}

.cms-nav li:not(.active):hover {
    color: var(--font-color);
    background: var(--active-color);
}

.cms-wrap {
    flex: 1;
    overflow-y: auto;
}

.cms-content {
    display: none;
    background: var(--theme);
    padding: 20px;
}

.cms-content h3 i{
    color: var(--primary-color);
}

.cms-content.active {
    display: block;
}

ul.content-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.content-list li {
    padding: 10px;
    cursor:pointer;
}

ul.content-list li:hover {
    background: var(--active-color);
}

/*CMS MODAL*/
.modal-btn{
    margin:0px 0px 20px 0px;
}

.cms-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.cms-modal-content {
    background-color: var(--theme);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 80%;
}   

.cms-modal-content .modal-heading{
    background-color: var(--primary-color);
    color:#fff;
    padding:20px;
}

.cms-modal-content .modal-heading h3{
    background-color: var(--primary-color);
    color: #fff;
    margin:0;
}

.cms-modal-content .modal-content {
    padding: 20px;
    max-height: 650px;
    position: relative;
}

.cms-modal-close {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.cms-modal-close:hover {
    color: red;
}

.info-table-div{
    background:var(--body-color);
    padding:20px;
}

/*CMS MODAL FORM DESIGN*/
.bxs-save{
    color:#fff;
}

.form-group{
    width:100%;
}

.form-group label{
    display:block;
    font-weight:500;
    font-family:var(--font-heading);
    margin-bottom:10px;
}

.form-group input[type="text"]{
    width:100%;
    height:25px;
    padding:20px 10px;
    border:1px solid var(--active-color);
    outline:none;
    font-family:var(--font-body);
    background: var(--theme);
    color: var(--font-color);
    margin-bottom:20px;
}

.form-group textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid var(--active-color);
    outline: none;
    font-family: var(--font-body);
    background: var(--theme);
    color: var(--font-color);
    margin-bottom: 20px;
}

.form-group select {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border: 1px solid var(--active-color);
    font-family: var(--font-body);
    background: var(--theme);
    color: var(--font-color);
    margin-bottom: 20px;
}


/*CMS MODAL FORM DESIGN*/
/*CMS TABLE*/
.info-table-div .filter-design{
    border:2px solid var(--primary-color);
}

.info-table-div .filter-design input{
    width:100%
}

.modal-content .table-wrapper {
    height: 500px;
    overflow-y: auto;
}

.cms-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 13px;
    text-align: left;
    background-color: var(--theme);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.cms-table tbody tr td button a{
    color:#fff;
    text-decoration:none;
}

.cms-table tbody tr td button i{
    color:#fff
}

.cms-table thead {
    background-color: var(--primary-color);
    font-weight: bold;
}

.cms-table th,
.cms-table td {
    padding: 12px 15px;
    border: 1px solid var(--active-color);
}

.cms-table tbody tr:nth-child(even) {
    background-color: var(--body-color);
}

.cms-table th:nth-child(3),
.cms-table td:nth-child(3) {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.cms-table th {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
    color:#fff;
}

/*CMS TABLE*/
/*CMS MODAL*/
@media screen and (max-width:899px){
    .modal-content.grid.grid-cms {
        grid-template-columns: 1fr !important;
    }
}

/*CMS*/
/*SETTINGS*/

/*DASHBOARD*/
.dashboard .heading-div{
    text-align:right;
}

.dashboard .heading-div h1, .dashboard .heading-div p {
    margin: 0px;
}

.dashboard .heading-div p {
   font-size:14px;
}

.card-div{
    margin:5px 0px;
}

@media screen and (max-width:599px){
    .dashboard .heading-div {
        margin-bottom:10px;
        text-align:left !important;
    }
}



.db-card {
    padding: 10px 30px;
    height: 150px;
    border-radius: 5px;
}

.db-card p, .db-card span{
    color: #fff;
}

.blue-bg {
    background: linear-gradient(to bottom, #1A33B6, #0F227A);
}

.orange-bg {
    background: linear-gradient(to bottom, #ff6a00, #b34700);
}

.purple-bg {
    background: linear-gradient(to bottom, #7833dd, #4a1f89);
}

.green-bg {
    background: linear-gradient(to bottom, #1aad38, #0d6d23);
}


.up-value {
    color: #14d453 !important;
}

.down-value {
    color: #ff3535 !important;
}

.stable-value {
    color: #fff !important;
}

.count{
    font-size:50px;
    font-weight:700;
}

.card-desc{
    font-size:13px;
}

.card-desc p{
    margin:0px;
}

.sub-desc{
    font-size:10px;
}

.chart-holder{
    background: var(--theme);
    width:65%;
}

.hearing-holder {
    background: var(--theme);
    width: 35%;
}

.mycase-holder {
    background: var(--theme);
    width: 60%;
}

.casereminder-holder {
    background: var(--theme);
    width: 40%;
}


.card-heading{
    padding:20px;
    border-bottom:1px solid #888888;
    height:80px;
}
.card-heading h3{
    margin:0px;
}

.chart-content {
    width: 100%;
    padding:40px;
}

.hearing-content {
    padding: 20px;
}

canvas {
    display: block;
    width: 100% !important;
    height: 360px !important;
}

.filter-design select, .filter-design input{
    border:none;
    outline:none;
    font-family: var(--font-body);
    background:none;
}

.filter-design select option{
    background: var(--body-color);
    color: var(--font-color);
}

.filter-design select option:hover {
    background: var(--primary-color);
}

.filter-design{
    background:var(--body-color);
    padding:5px 10px;
}

.hearing-list{
    list-style-type:decimal;
    padding:0px;
}

.hearing-list li {
    margin-bottom:20px;
}

.hearing-list .venue{
    font-size:12px;
    color: var(--primary-color);
}

.hearing-list .time {
    font-size: 12px;
    color: #b9b9b9;
}

.mycase-content, .casereminder-content{
    padding: 20px;
}

.mycase-list {
    list-style-type: decimal;
    padding: 0px;
}

.mycase-list li {
    margin-bottom: 20px;
}

.mycase-list li div:first-of-type{
    width:20%;
}

.mycase-list li div:last-of-type {
    width:20%;
}

.mycase-list .type, .mycase-list .status {
    font-size: 12px;
    color: var(--primary-color);
}

.mycase-list .milestonedate {
    font-size: 12px;
    color: #b9b9b9;
}

.reminders-tab{
    background: var(--primary-color);
    margin:20px 0px;
    padding:10px 20px;
    cursor:pointer;
}

.reminders-tab span {
    font-size: 14px;
    color: #fff;
}

.reminders-tab:hover {
    background: var(--secondary-color);
}

.bx-help-circle{
    cursor:pointer;
}
/*DASHBOARD*/