.vs/TRACE/config/applicationhost.config
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/bin/Debug/net8.0/TRACE.dll
TRACE/bin/Debug/net8.0/TRACE.exe
TRACE/bin/Debug/net8.0/TRACE.pdb
/.vs/TRACE/FileContentIndex
