.vs/TRACE/config/applicationhost.config
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/bin/Debug/net8.0/TRACE.dll
TRACE/bin/Debug/net8.0/TRACE.exe
TRACE/bin/Debug/net8.0/TRACE.pdb
/.vs/TRACE/FileContentIndex
/TRACE/bin/Debug/net8.0
/.vs/TRACE/v17
/TRACE/bin/Debug/net8.0
.vs/ProjectEvaluation/trace.metadata.v7.bin
.vs/ProjectEvaluation/trace.projects.v7.bin
.vs/TRACE/DesignTimeBuild/.dtbcache.v2
.vs/TRACE/v17/.futdcache.v2
.vs/TRACE/v17/.suo
TRACE/bin/Debug/net8.0/TRACE.dll
TRACE/bin/Debug/net8.0/TRACE.exe
TRACE/bin/Debug/net8.0/TRACE.pdb
TRACE/obj/Debug/net8.0/apphost.exe
TRACE/obj/Debug/net8.0/project.razor.vs.bin
TRACE/obj/Debug/net8.0/ref/TRACE.dll
TRACE/obj/Debug/net8.0/refint/TRACE.dll
TRACE/obj/Debug/net8.0/TRACE.assets.cache
TRACE/obj/Debug/net8.0/TRACE.csproj.AssemblyReference.cache
TRACE/obj/Debug/net8.0/TRACE.dll
TRACE/obj/Debug/net8.0/TRACE.genruntimeconfig.cache
TRACE/obj/Debug/net8.0/TRACE.MvcApplicationPartsAssemblyInfo.cs
TRACE/obj/Debug/net8.0/TRACE.pdb
TRACE/obj/project.assets.json
TRACE/obj/project.nuget.cache
TRACE/obj/TRACE.csproj.nuget.dgspec.json
TRACE/obj/TRACE.csproj.nuget.g.props
