@model TRACE.Models.Hearing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hearing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ErccaseId" class="control-label"></label>
                <select asp-for="ErccaseId" class ="form-control" asp-items="ViewBag.ErccaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HearingDate" class="control-label"></label>
                <input asp-for="HearingDate" class="form-control" />
                <span asp-validation-for="HearingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HearingVenueId" class="control-label"></label>
                <select asp-for="HearingVenueId" class ="form-control" asp-items="ViewBag.HearingVenueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HearingCategoryId" class="control-label"></label>
                <select asp-for="HearingCategoryId" class ="form-control" asp-items="ViewBag.HearingCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsApproved" class="control-label"></label>
                <input asp-for="IsApproved" class="form-control" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatetimeApproved" class="control-label"></label>
                <input asp-for="DatetimeApproved" class="form-control" />
                <span asp-validation-for="DatetimeApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherVenue" class="control-label"></label>
                <input asp-for="OtherVenue" class="form-control" />
                <span asp-validation-for="OtherVenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
