@{
    ViewData["Title"] = "Content Management";
}
<h1>@ViewData["Title"]</h1>
<p>Easily Manage reference data in the system</p>
<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab('cases')" class="active"><i class='bx bxs-briefcase'></i> Case Related Contents</li>
            <li onclick="showTab('documents')"><i class='bx bxs-file'></i> Document Related Contents</li>
        </ul>
    </div>

    <div class="cms-wrap shadow">
        <div id="cases" class="cms-content active">
            <h3><i class='bx bxs-briefcase'></i>  Case Related Contents</h3>
            <ul class="content-list">
                <li><i class='bx bxs-edit-alt'></i> Case Category</li>
                <li><i class='bx bxs-edit-alt'></i> Case Event Types</li>
                <li><i class='bx bxs-edit-alt'></i> Case Statuses</li>
                <li><i class='bx bxs-edit-alt'></i> Case Milestones</li>
                <li><i class='bx bxs-edit-alt'></i> Handling Officer Types</li>
                <li><i class='bx bxs-edit-alt'></i> Hearing Categories</li>
                <li><i class='bx bxs-edit-alt'></i> Hearing Types</li>
                <li><i class='bx bxs-edit-alt'></i> Hearing Venues</li>
                <li><i class='bx bxs-edit-alt'></i> Milestone Templates</li>
            </ul>
        </div>

        <div id="documents" class="cms-content">
            <h3><i class='bx bxs-file'></i> Document Related Contents</h3>
            <ul class="content-list">
                <li><i class='bx bxs-edit-alt'></i> Action Types</li>
                <li><i class='bx bxs-edit-alt'></i> Delivery Methods</li>
                <li><i class='bx bxs-edit-alt'></i> Distribution Lists</li>
                <li><i class='bx bxs-edit-alt'></i> Document Categories</li>
                <li><i class='bx bxs-edit-alt'></i> Document Filing Types</li>
                <li><i class='bx bxs-edit-alt'></i> Document Needed Actions</li>
                <li><i class='bx bxs-edit-alt'></i> Document Version Statuses</li>
                <li><i class='bx bxs-edit-alt'></i> Intranet Location Mapping</li>
            </ul>
        </div>
    </div>
</div>


<div id="cmsModal" class="cms-modal">
    <div class="cms-modal-content">
        <div class="modal-heading flex h-center space-between">
            <h3 id="modalTitle">Content Details</h3>
            <span class="cms-modal-close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-content grid grid-cms gap-20">
            <div class="form-modal-div">
                <form id="modalForm">
                </form>
            </div>
            <div class="info-table-div">
                <div class="filter-design border-radius-5 flex h-center">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Search filter" />
                </div>

                <table id="DynamicTable" class="cms-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Sample</td>
                            <td>Sample</td>
                            <td><button><i class='bx bxs-edit-alt'></i> Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    $(document).ready(function () {
        function checkTitleAndLoadData() {
            if ($("#modalTitle").text().trim() === "Customize Case Category") {
                loadCaseCategories();
            }
            else{ 
                 $("#DynamicTable tbody").html("<tr><td colspan='3'>No Data available.</td></tr>");
            }
             
        }

        // Run once when the page loads
        checkTitleAndLoadData();

        // Observe changes to #modalTitle
        const observer = new MutationObserver(() => {
            checkTitleAndLoadData();
        });

        observer.observe(document.getElementById("modalTitle"), { childList: true, subtree: true });
    });

    

</script>

<script src="~/js/contentManagement.js"></script>
