@model TRACE.Models.UserRolesPerModule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserRolesPerModule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName">
                    <option value="" disabled>SELECT ROLE</option>
                    <option value="STAFF">STAFF</option>
                    <option value="SYSTEM ADMIN">SYSTEM ADMIN</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                <select asp-for="ModuleName">
                    <option value="" disabled>SELECT MODULE</option>
                    <option value="ASSIGN TASK">ASSIGN TASK</option>
                    <option value="NOTES">NOTES</option>
                    <option value="HEARING">HEARING</option>
                    <option value="RELATED CASES">RELATED CASES</option>
                </select>
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanView" class="control-label"></label>
                <select asp-for="CanView">
                    <option value=1 >TRUE</option>
                    <option value=0 >FALSE</option>
                    
                </select>
                <span asp-validation-for="CanView" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanEdit" class="control-label"></label>
                <select asp-for="CanEdit">
                    <option value=1>TRUE</option>
                    <option value=0>FALSE</option>

                </select>
                <span asp-validation-for="CanEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanCreate" class="control-label"></label>
                <select asp-for="CanCreate">
                    <option value=1>TRUE</option>
                    <option value=0>FALSE</option>

                </select>
                <span asp-validation-for="CanCreate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="AssignedAt" class="control-label"></label>
                <input asp-for="AssignedAt" class="form-control" />

                <span asp-validation-for="AssignedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
