@model TRACE.Models.UserRolesPerModule

@{
    ViewData["Title"] = "Edit User Roles Per Module";
}

<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > <a href="/usermanagement">User Management</a> > <a href="/UserRolesPerModule">User Roles Per Module</a> > Edit
</div>

<h1>Edit User RolesPer Module</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName">
                    <option value="" disabled selected>SELECT ROLE</option>
                    <option value="STAFF">STAFF</option>
                    <option value="HANDLING OFFICER">HANDLING OFFICER</option>
                    <option value="SYSTEM ADMINISTRATOR">SYSTEM ADMINISTRATOR</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                <select asp-for="ModuleName">
                    <option value="" disabled selected>SELECT MODULE</option>
                    <option value="APPLICANTS">CASE - APPLICANTS</option>
                    <option value="ASSIGN PERSONNEL">CASE - ASSIGN PERSONNEL</option>
                    <option value="ASSIGN TASK">CASE - ASSIGN TASK</option>
                    <option value="ATTACHFILES">CASE - ATTACHED DOCUMENTS</option>
                    <option value="CASE">CASE - CASE</option>
                    <option value="EVENTS">CASE - EVENTS/ACTIVITIES</option>
                    <option value="HEARING">CASE - HEARING</option>
                    <option value="INTERVENOR">CASE - INTERVENOR</option>
                    <option value="MILESTONE">CASE - MILESTONE</option>
                    <option value="NOTES">CASE - NOTES</option>
                    <option value="RELATED CASES">CASE - RELATED CASES</option>
                    <option value="RESPONDENTS">CASE - RESPONDENTS</option>
                </select>
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanView" class="control-label"></label>
                <select asp-for="CanView" class="form-control">
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
                <span asp-validation-for="CanView" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanEdit" class="control-label"></label>
                <select asp-for="CanEdit" class="form-control">
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
                <span asp-validation-for="CanEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanCreate" class="control-label"></label>
                <select asp-for="CanCreate" class="form-control">
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
                <span asp-validation-for="CanCreate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="AssignedAt" class="control-label"></label>
                <input asp-for="AssignedAt" class="form-control" />

                <span asp-validation-for="AssignedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
