@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - ICDMS</title>
    <link rel="icon" type="image/x-icon" href="~/images/ERC-LOGO.png">

    <!--Main CSS-->
    <link rel="stylesheet" href="~/css/external-css.css" asp-append-version="true" />

    <!--Ol reliable google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="login-section">
        <div class="login-wrapper">
            <div class="login-card">
                <div class="card-content">
                    <img src="~/images/ERC-LOGO.png" width="80"/> 
                    <h1>
                        <span>WELCOME TO</span>
                        <span>ICDMS</span>
                    </h1>
                    <p></p>
                    <div class="input-design">
                        <button onclick="location.href='@Url.Action("RedirectToMicrosoftLogin", "External")'">
                            <i class='bx bxl-microsoft'></i> Login as Employee
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

