@model IEnumerable<TRACE.Models.User>

@{
    ViewData["Title"] = "User Management";
}


<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > @ViewData["Title"]
</div>

<h1>@ViewData["Title"]</h1>
<p>Easily Manage user data in the system</p>

<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab('users')" class="active">
                <i class='bx bxs-user-account'></i> Manage Users From Azure AD
            </li>
        </ul>
    </div>

    <div class="cms-wrap shadow">
        <div id="users" class="cms-content active">
            <h3><i class='bx bxs-user-account'></i> Manage Users From Azure AD</h3>

         
                <div class="filter-design border-radius-5 flex h-center" style="margin-bottom:20px;">
                    <i class='bx bx-search'></i>
                    <input type="text" id="userSearch" placeholder="Name, Email or Department.." style="width:100% !important;" />
                </div>

                <table class="my-cases-table" id="ADuserTable">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="userdata">
                     
                        
                    </tbody>
                </table>

                <div class="pagination flex h-center gap-10">
                    <span>Current Page: </span>
                    <select id="userPagination"></select>
                    <span id="prevPage" class="prev flex h-center"><i class='bx bx-chevron-left'></i></span>
                    <span id="nextPage" class="next flex h-center"><i class='bx bx-chevron-right'></i></span>
                </div>
          
        </div>

        <div id="userroles" class="cms-content">
            <h3><i class='bx bxs-user-plus'></i> Manage User Role</h3>


        </div>
    </div>
</div>
<script src="~/js/userManagement.js"></script>

