@model IEnumerable<TRACE.Models.User>

@{
    ViewData["Title"] = "User Management";
}


<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > @ViewData["Title"]
</div>

<h1>@ViewData["Title"]</h1>
<p>Easily Manage user data in the system</p>

<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab('users')" class="active">
                <i class='bx bxs-user-account'></i> Manage Users From Azure AD
            </li>
            <li onclick="showTab('permission')">
                <i class='bx bx-lock'></i> Permission Management
            </li>
        </ul>
    </div>

    <div class="cms-wrap shadow">
        <div id="users" class="cms-content active">
            <h3><i class='bx bxs-user-account'></i> Manage Users From Azure AD</h3>

         
                <div class="filter-design border-radius-5 flex h-center" style="margin-bottom:20px;">
                    <i class='bx bx-search'></i>
                    <input type="text" id="userSearch" placeholder="Name, Email or Department.." style="width:100% !important;" />
                </div>

                <table class="my-cases-table" id="ADuserTable">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="userdata">
                     
                        
                    </tbody>
                </table>

                <div class="pagination flex h-center gap-10">
                    <span>Current Page: </span>
                    <select id="userPagination"></select>
                    <span id="prevPage" class="prev flex h-center"><i class='bx bx-chevron-left'></i></span>
                    <span id="nextPage" class="next flex h-center"><i class='bx bx-chevron-right'></i></span>
                </div>
          
        </div>

        <div id="permission" class="cms-content">
            <h3><i class='bx bx-lock'></i> Permission Management</h3>
            <i>Manage user access throughout the system.</i><i class='bx bx-help-circle' style="color:red;" title="This is only for Super Administrators"></i>

            <div class="drin-container">
                <table class="drin-table">
                    <thead>
                        <tr>
                            <th class="drin-header">Actions</th>
                            <th class="drin-header">Staff</th>
                            <th class="drin-header">Service Administrator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="drin-section-row">
                            <td colspan="3" class="drin-section">Case Management</td>
                        </tr>
                        <tr>
                            <td>Create Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>View Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Update Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Archive Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>

                        <tr class="drin-section-row">
                            <td colspan="3" class="drin-section">Case Information</td>
                        </tr>
                        <tr>
                            <td>Assign Personnel</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Remove Personnel</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Add Related Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Remove Related Cases</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Add Hearings</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Update Hearings</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Remove Hearings</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Assign New Tasks</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Complete Tasks</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Add Notes</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                        <tr>
                            <td>Remove Notes</td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                            <td><input type="checkbox" class="drin-checkbox"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="~/js/userManagement.js"></script>

