<div class="settings-tab">
    <div class="tab" data-tab="_appearance">Appearance Settings</div>
    <div class="tab" data-tab="_notifications">Notifications Settings</div>
    <div class="tab" data-tab="_contentManagement">Content Management</div>
    <div class="tab" data-tab="_userManagement">User Management</div>
</div>
