@model TRACE.Models.CaseDetails

@{
    ViewData["Title"] = "Create";
}
<div class="crumbs">
    <a href="/contentmanagement">Content Management</a> > Create
</div>

<h1>Create</h1>

<p>This page is for creating new Case Details.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseTitle" class="control-label"></label>
                <input asp-for="CaseTitle" class="form-control" />
                <span asp-validation-for="CaseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseNumber" class="control-label"></label>
                <input asp-for="CaseNumber" class="form-control" />
                <span asp-validation-for="CaseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseCategory" class="control-label"></label>
                <input asp-for="CaseCategory" class="form-control" />
                <span asp-validation-for="CaseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseNature" class="control-label"></label>
                <input asp-for="CaseNature" class="form-control" />
                <span asp-validation-for="CaseNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseStatus" class="control-label"></label>
                <input asp-for="CaseStatus" class="form-control" />
                <span asp-validation-for="CaseStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPrayedForPA" /> @Html.DisplayNameFor(model => model.HasPrayedForPA)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateFiled" class="control-label"></label>
                <input asp-for="DateFiled" class="form-control" />
                <span asp-validation-for="DateFiled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complainant" class="control-label"></label>
                <input asp-for="Complainant" class="form-control" />
                <span asp-validation-for="Complainant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respondent" class="control-label"></label>
                <input asp-for="Respondent" class="form-control" />
                <span asp-validation-for="Respondent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
