@{
    ViewData["Title"] = "My Cases - Letter Complaints";
}


<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > Case Management (My Cases) > Letter Complaints
</div>

@await Component.InvokeAsync("MyCasesMenu")


<div class="main-head-div flex h-center space-between">
    <div class="title-div">
        <h3>LETTER COMPLAINTS</h3>
        <p>Manage your letter complaints</p>
    </div>
    <div class="btn-div">
        <a href="/casemanagement/create"><button>+ CREATE CASE</button></a>
    </div>
</div>

<div class="case-card shadow border-radius-5 flex space-between">
    <div class="case-table-div">
        <table class="my-cases-table">
            <thead>
                <tr>
                    <th>CASE NO.</th>
                    <th>CASE TITLE</th>
                    <th>DATE FILED</th>
                    <th>CASE STATUS</th>
                    <th>APPLICANT/PETITIONER</th>
                    <th>RESPONDENT</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <!--ALDRIN: ADD CASE ID URL PARAMETER HERE. URL SHOULD BE /casedetails/caseID-->
                    <td data-label="CASE NO.">2016-0076-LC</td>
                    <td data-label="CASE TITLE" class="clickable" onclick="location.href='@Url.Action("CaseDetails", "CaseManagement")'">
                        Test Verified Complaint</td>
                    <td data-label="DATE FILED">03/09/2016</td>
                    <td data-label="CASE STATUS">Ongoing</td>
                    <td data-label="APPLICANT/PETITIONER">Juan Dela Cruz</td>
                    <td data-label="RESPONDENT">Manila Electric Company</td>
                    <td class="actions" data-label="ACTIONS">
                        <i class='bx bxs-edit' title="Edit"></i>
                        <i class='bx bxs-x-circle' title="Archive"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination flex h-center gap-10">
        <span>Current Page: </span>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <span class="prev flex h-center"><i class='bx bx-chevron-left'></i></span>
        <span class="next flex h-center"><i class='bx bx-chevron-right'></i></span>
    </div>
    @* @await Html.PartialAsync("Components/Loader/Mini-Loader") *@
</div>