@{
    ViewData["Title"] = "Notifications";
}
<div class="crumbs">
    <a href="javascript:history.back();" id="goBackLink">Go Back</a> > Notifications
</div>

<h1>@ViewData["Title"]</h1>
<p>Easily Manage your system notifications.</p>
    
<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab('all')" class="active"> All Notifications</li>
            <li onclick="showTab('unread')"> Unread</li>
            <li onclick="showTab('archive')"> Archived</li>
        </ul>
    </div>

    <div class="cms-wrap shadow">
        <div id="all" class="cms-content active">
            
        </div>

        <div id="unread" class="cms-content">
            
        </div>

        <div id="archive" class="cms-content">

        </div>
    </div>
</div>