@{
    ViewData["Title"] = "Notifications";
}
<div class="crumbs">
    <a href="javascript:history.back();" id="goBackLink">Go Back</a> > Notifications
</div>

<h1>@ViewData["Title"]</h1>
<p>Easily Manage and read your system notifications.</p>
    
<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab2('all')" class="flex space-between h-center active"> All Notifications <span id="allnotifCounter" class="counter">N/A</span></li>
            <li onclick="showTab2('unread')" class="flex space-between h-center"> Unread <span id="unreadnotifCounter" class="counter">2</span></li>
            <li onclick="showTab2('archive')" class="flex space-between h-center"> Archived <span id="archivednotifCounter" class="counter">1</span></li>
        </ul>
    </div>

    <div class="cms-wrap shadow">


        <div id="all" class="cms-content-notif active">
            <div class="main-head-div flex h-center space-between">
                <h2>All Notifications</h2>
                <div class="btn-div flex h-center gap-10">
                    <button id="selectAllBtn">SELECT ALL</button>
                    <button class="red-btn" id="deselectall" disabled>DESELECT ALL</button>
                    <button id="archiveselected" disabled>ARCHIVE SELECTED</button>
                </div>
            </div>

            <ul class="notifications-list" id="notifList1">
            </ul>
        </div>

        <div id="unread" class="cms-content-notif">
            <div class="main-head-div flex h-center space-between">
                <h2>Unread Notifications</h2>
                <div class="btn-div flex h-center gap-10">
                    <button id="selectUnreadBtn">SELECT ALL</button>
                    <button class="red-btn" id="deselectunread" disabled>DESELECT ALL</button>
                    <button id="archiveselectedunread" disabled>ARCHIVE SELECTED</button>
                </div>
            </div>

            <ul class="notifications-list" id="unreadnotif">
            </ul>
        </div>

        <div id="archive" class="cms-content-notif">
            <div class="main-head-div flex h-center space-between">
                <h2>Archived Notifications</h2>
                <div class="btn-div flex h-center gap-10">
                    <button id="selectarchiveBtn">SELECT ALL</button>
                    <button class="red-btn" id="deselectarchive" disabled>DESELECT ALL</button>
                    <button id="unarchiveselected" disabled>UNARCHIVE SELECTED</button>
                </div>
            </div>

            <ul class="notifications-list" id="archivednotif">
            </ul>
        </div>
    </div>
</div>
<script src="/js/Notifications.js"></script>