<h2>Content Management Settings</h2>
<p>Easily Manage reference data in the system</p>
<hr />
<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        TEST
    </div>
    <div>
        TEST
    </div>
</div>
