@{
    ViewData["Title"] = "Dashboard";
}
<div class="dashboard">
    <div class="heading-div">
        <h1>Welcome Back @ViewBag.Name.Split(' ')[0]!</h1>
        <p>You have <span class="clickable"><a href="/notifications">2 unread</a></span> notifications.</p>
    </div>
    <strong class="date-today">Friday, 28 February 2025 14:00</strong>

    <!--CARDS-->
    <div class="grid grid-four-fr gap-10 h-center card-div">
        <div class="db-card flex h-center gap-10 blue-bg shadow">
            <span class="count">50</span>
            <div class="card-desc">
                <p>Promulgated/Issued Decision</p>
                <span class="sub-desc up-value"><i class='bx bxs-up-arrow up-value'></i> 10% Compared to previous 30 days</span>
            </div>
        </div>
        <div class="db-card flex h-center gap-10 orange-bg shadow">
            <span class="count">10</span>
            <div class="card-desc">
                <p>Issued Decision</p>
                <span class="sub-desc stable-value"><i class='bx bxs-square stable-value'></i> Stable rate</span>
            </div>
        </div>
        <div class="db-card flex h-center gap-10 purple-bg shadow">
            <span class="count">33</span>
            <div class="card-desc">
                <p>Submitted for Resolution</p>
                <span class="sub-desc down-value"><i class='bx bxs-down-arrow down-value'></i> 10% compared to previous 30 days</span>
            </div>
        </div>
        <div class="db-card flex h-center gap-10 green-bg shadow">
            <span class="count">20</span>
            <div class="card-desc">
                <p>Indorsed to Formal Hearing</p>
                <span class="sub-desc stable-value"><i class='bx bxs-square stable-value'></i> Stable rate</span>
            </div>
        </div>
    </div>

    <div class="flex gap-10 flex-card">
        <!--GRAPHS-->
        <div class="card-div chart-holder panel border-radius-5 shadow">
            <div class="card-heading flex h-center space-between">
                <h3>Case Filing Trends</h3>
                <div class="filter-design border-radius-5 flex h-center">
                    <i class='bx bxs-filter-alt'></i>
                    <select>
                        <option disabled selected>Today, Last 7 Days, Last 30 Days...</option>
                        <option>Today</option>
                        <option>Last 7 Days</option>
                        <option>Last 30 Days</option>
                        <option>Custom</option>
                    </select>
                </div>
            </div>
            <div class="chart-content">
                <canvas id="categoryLineChart"></canvas>
            </div>
            <script src="~/js/dbchart.js"></script>
        </div>
        <!--HEARING-->
        <div class="card-div hearing-holder panel border-radius-5 shadow">
            <div class="card-heading flex h-center space-between">
                <h3>Hearing Schedules</h3>
            </div>
            <div class="hearing-content">
                <ol class="hearing-list" id="dashboardhearings">
                    <li>Failed to render data for hearings.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="flex gap-10 flex-card">
        <div class="card-div mycase-holder panel border-radius-5 shadow">
            <div class="card-heading flex h-center space-between">
                <h3>My Cases</h3>
                <div class="filter-design border-radius-5 flex h-center">
                    <i class='bx bx-search'></i>
                    <input type="text" id="dbmcSearchInput" placeholder="Enter Case No. or Case Title here.."/>
                </div>
            </div>
            <div class="mycase-content">
                <ol class="mycase-list" id="mydashbboardcases">
                    <li>Failed to render data for cases.</li>
                </ol>
                <div class="pagination flex h-center gap-10">
                    <span>Current Page: </span>
                    <select id="paginationSelectmyCases"></select>
                    <span class="prev flex h-center" id="mcprevPage"><i class='bx bx-chevron-left'></i></span>
                    <span class="next flex h-center" id="mcnextPage"><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>

        <div class="card-div casereminder-holder panel border-radius-5 shadow">
            <div class="card-heading flex h-center space-between">
                <h3>Case Reminders (30 Days Alert)</h3>
            </div>
            <div class="casereminder-content">
                <div class="reminders-tab">
                    <span>Due for Issuance of Provisional Authority</span>
                </div>
                <div class="reminders-tab">
                    <span>Due for Issuance of Order with Notice of Proposed Rule-Making</span>
                </div>
                <div class="reminders-tab">
                    <span>Due for Issuance of Notice for Public Consultation</span>
                </div>
                <div class="reminders-tab">
                    <span>Due for Issuance of Resolution</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js//DashboardModules.js"></script>
