@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>
<p>Modify theme, display and notification settings</p>
<hr />
<h3>Theme Manager</h3>
<div class="theme-toggle-container">
    <p>Enable dark theme:</p>
    <label class="theme-switch">
        <input type="checkbox" id="themeToggle">
        <span class="drin-slider"></span>
    </label>
</div>

<div class="theme-toggle-container">
    <p>Theme Color:</p>
    <label class="color-switch">
        <input type="color" id="colorPicker">
        <span class="color-preview"></span>
    </label>
</div>
