@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

@await Component.InvokeAsync("SettingsTab", new { activeTab = "Appearance" })

<div id="_appearance" class="setting-card">
    @await Component.InvokeAsync("AppearanceSettings")
</div>

<div id="_notifications" class="setting-card" style="display:none">
    @await Component.InvokeAsync("NotificationsSettings")
</div>
<script src="~/js/settingsTab.js"></script>
