@model TRACE.Models.Company

@{
    ViewData["Title"] = "Create";
}

<div class="crumbs">
    <a href="/contentmanagement">Content Management</a> > Create
</div>

<h1>Create</h1>

<p>This page is for adding companies to the system.</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <form id="createForm" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="CompanyName" class="form-label fw-bold">Company Name</label>
                <input asp-for="CompanyName" id="company-name-input" maxlength="100" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="AddressLine1" class="form-label fw-bold">Address Line 1</label>
                <input asp-for="AddressLine1" id="address-line1-input" maxlength="255" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="AddressLine2" class="form-label fw-bold">Address Line 2</label>
                <input asp-for="AddressLine2" id="address-line2-input" maxlength="255" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CityId" class="form-label fw-bold">City</label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ZipCode" class="form-label fw-bold">ZIP Code</label>
                <input asp-for="ZipCode" id="zipcode-input" maxlength="4" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="EntityCategoryId" class="form-label fw-bold">Entity Category</label>
                <select asp-for="EntityCategoryId" class="form-control" asp-items="ViewBag.EntityCategoryId"></select>
                <span asp-validation-for="EntityCategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ShortName" class="form-label fw-bold">Short Name</label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>



            <div class="form-group mb-3 checktype">
                <input type="checkbox" id="duCheckbox" /><span> Is this a Distribution Utility?</span>
            </div>

            <br />

            <div class="form-group mb-3" id="regionSelectContainer" style="display:none;">
                <label class="form-label fw-bold">Region</label>
                <select asp-for="Region" class="form-select" name="Region">
                    <option value="">-- Select Region --</option>
                    <option value="Region I">Region I - Ilocos Region</option>
                    <option value="Region II">Region II - Cagayan Valley</option>
                    <option value="Region III">Region III - Central Luzon</option>
                    <option value="Region IV-A">Region IV-A - CALABARZON</option>
                    <option value="MIMAROPA">MIMAROPA Region</option>
                    <option value="Region V">Region V - Bicol Region</option>
                    <option value="Region VI">Region VI - Western Visayas</option>
                    <option value="Region VII">Region VII - Central Visayas</option>
                    <option value="Region VIII">Region VIII - Eastern Visayas</option>
                    <option value="Region IX">Region IX - Zamboanga Peninsula</option>
                    <option value="Region X">Region X - Northern Mindanao</option>
                    <option value="Region XI">Region XI - Davao Region</option>
                    <option value="Region XII">Region XII - SOCCSKSARGEN</option>
                    <option value="Region XIII">Region XIII - Caraga</option>
                    <option value="NCR">NCR - National Capital Region</option>
                    <option value="CAR">CAR - Cordillera Administrative Region</option>
                    <option value="BARMM">BARMM - Bangsamoro Autonomous Region in Muslim Mindanao</option>
                </select>
            </div>



            <div class="form-group">
                <input type="submit" value="Create Company" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("duCheckbox").addEventListener("change", function () {
            const regionContainer = document.getElementById("regionSelectContainer");
            regionContainer.style.display = this.checked ? "block" : "none";
        });

        $(document).ready(function () {


            _setInputAlphabet("#company-name-input");
            _setInputAddress("#address-line1-input");
            _setInputAddress("#address-line2-input");
            _setInputInteger("zipcode-input");
            $("#createForm").submit(function (event) {
                event.preventDefault();

                if (!_inputHasValue("#company-name-input", "Company Name")) return;
                if (!_inputHasValue("#address-line1-input", "Address Line 1")) return;

                $.ajax({
                    url: $(this).attr("action"),
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: "Company Created!",
                                text: response.message,
                                icon: "success",
                                confirmButtonText: "OK"
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Error!",
                                text: response.message,
                                icon: "error",
                                confirmButtonText: "Try Again"
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: "Oops!",
                            text: "Something went wrong. Please try again.",
                            icon: "error",
                            confirmButtonText: "OK"
                        });
                    }
                });
            });
        });
    </script>
}
