@{
    ViewData["Title"] = "My Cases - Case No.";
}

<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > <a href="javascript:history.back();">Case Management </a> > Case Title > Milestone
</div>

<div class="case-card-details shadow border-radius-5">
    <div class="case-details grid grid-casedeets-fr gap-20" id="caseDetails"></div>
    <hr />
    <div class="case-details grid grid-four-fr gap-20" id="othercaseDetails" style="display:none;"></div>

    <div class="case-arrow-div" onclick="toggleCaseDetails()" id="arrowToggle">
        <i class='bx bxs-down-arrow' id="arrowIcon"></i>
    </div>
    @await Html.PartialAsync("Components/Loader/Mini-Loader")
</div>

<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTabcase('milestones', event)" class="active"><i class='bx bx-check-circle'></i> Milestones</li>
            <li onclick="showTabcase('activities', event)"><i class='bx bxs-calendar'></i> Activities/Events</li>
            <li onclick="showTabcase('respondents', event)"><i class='bx bxs-user-pin'></i> Respondents</li>
            <li onclick="showTabcase('applicants', event)"><i class='bx bx-user-pin'></i> Applicants</li>
            <li onclick="showTabcase('documents', event)"><i class='bx bxs-file'></i>Attached Documents</li>
            <li onclick="showTabcase('assignpersonnel', event)"><i class='bx bxs-user-check'></i> Assigned Personnel</li>
            <li onclick="showTabcase('relatedcases', event)"><i class='bx bxs-folder-open'></i> Related Cases</li>
            <li onclick="showTabcase('hearings', event)"><i class='bx bxs-briefcase'></i> Hearings</li>
            <li onclick="showTabcase('tasks', event)"><i class='bx bx-list-check'></i> Tasks</li>
            <li onclick="showTabcase('notes', event)"><i class='bx bxs-note'></i> Notes</li>
        </ul>
    </div>

    <div class="cms-wrap shadow border-radius-5">
        <div id="milestones" class="cms-content active">
            <h3>Milestones</h3>
            <div class="milestone-details">
                <span><strong>Case Age: </strong> <i id="caseage">??</i></span>
                <span><strong>Current Milestone Age: </strong> <i id="currentmilestoneage">No Data Available</i></span>
            </div>
            <div class="case-milestone-wrapper" >
                <div class="progress-container" id="casemilestone">
                    
                </div>

            </div>
            @await Html.PartialAsync("Components/Loader/Mini-Loader-2")
        </div>

        <div id="activities" class="cms-content">
        
            <div class="cdeets flex h-center space-between">
                <h3>Activities/Events</h3>
                <button onclick="Create('CaseEvent')">+ Add Activities/Events</button>
            </div>
            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>BY</th>
                        <th>DESCRIPTION</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody id="caseeventbody">
                </tbody>
            </table>
            <div class="pagination flex h-center gap-10" id="caseEventpagination">
                <span>Current Page: </span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <span class="prev flex h-center"><i class='bx bx-chevron-left'></i></span>
                <span class="next flex h-center"><i class='bx bx-chevron-right'></i></span>
            </div>
        </div>

        <div id="respondents" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Respondents</h3>
                <button onclick="Create('CaseRespondents')">+ Add Respondents</button>
            </div>

            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>COMPANY NAME</th>
                        <th>RESPONDENT NAME</th>
                        <th>ACTION</th>

                    </tr>
                </thead>
                <tbody id="respondentstbody">
                </tbody>
            </table>
        </div>

        <div id="applicants" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Applicants</h3>
                <button onclick="Create('CaseApplicant')">+ Add Applicants</button>
            </div>
            
            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>APPLICANT</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="applicantstbody">
                </tbody>
            </table>
        </div>

        <div id="documents" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Attached Documents</h3>
                <button onclick="Create('MilestonesAchieved')">+ Attach Document</button>
            </div>
            <div class="nopaginationdiv">
                <table class="my-cases-table">
                    <thead>
                        <tr>
                            <th>FILE NAME</th>                          
                            <th>DATE</th>
                        </tr>
                    </thead>
                    <tbody id="attacheddocs">
                    </tbody>
                </table>
            </div>
        </div>

        <div id="assignpersonnel" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Current Assigned Personnel</h3>
                <button onclick="CreateAssignment()">+ Assign Personnel</button>
            </div>
            <div class="nopaginationdiv">
                <table class="my-cases-table">
                    <thead>
                        <tr>
                            <th>OFFICER TYPE</th>
                            <th>ASSIGNED PERSONEL</th>
                            <th>DATE ASSIGNED</th>
                            <th>ASSIGNED BY</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody id="caseassignment">

                    </tbody>
                </table>
            </div>

            <div class="nopaginationdiv">
                <h3>Case Assignment History</h3>
                <table class="my-cases-table">
                    <thead>
                        <tr>
                            <th>PERSONNEL</th>
                            <th>DATE ASSIGNED</th>
                            <th>DATE REMOVED</th>
                        </tr>
                    </thead>
                    <tbody id="caseassignmenthistory">
                    </tbody>
                </table>
            </div>
            
        </div>

        <div id="relatedcases" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Related Cases</h3>
                <button onclick="CreateRelatedCase()">+ Related Case</button>
            </div>
            
            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>CASE NO.</th>
                        <th>CASE TITLE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody id="caserelated">
                </tbody>
            </table>
        </div>

        <div id="hearings" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Hearings</h3>
                <button id="createhearing" onclick="CreateHearing()">+ New Hearing</button>
            </div>
            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>HEARING CATEGORY</th>
                        <th>DATE AND TIME</th>
                        <th>VENUE</th>
                        <th>LINKS</th>
                        <th>TYPE</th>
                        <th>REMARKS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody id="casehearing">
                </tbody>
            </table>
        </div>

        <div id="tasks" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Tasks</h3>
                <button onclick="CreateTask()">+ Assign New Task</button>
            </div>
            <div class="nopaginationdiv">
                <h4>Pending Tasks</h4>
                <table class="my-cases-table">
                    <thead>
                        <tr>
                            <th>TASKED TO</th>
                            <th>DETAILS</th>
                            <th>TARGET DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="pendingtask">
                    </tbody>
                </table>
            </div>

            <div class="nopaginationdiv">
                <h4>Completed Tasks</h4>
                <table class="my-cases-table">
                    <thead>
                        <tr>
                            <th>TASKED TO</th>
                            <th>DETAILS</th>
                            <th>TARGET DATE</th>
                            <th>COMPLETED DATE</th>
                        </tr>
                    </thead>
                    <tbody id="completedTask">
                    </tbody>
                </table>
            </div>
        </div>

        <div id="notes" class="cms-content">
            <div class="cdeets flex h-center space-between">
                <h3>Notes</h3>
                <button onclick="CreateNote()">+ New Note</button>
            </div>
            <table class="my-cases-table">
                <thead>
                    <tr>
                        <th>NOTED BY</th>
                        <th>DESCRIPTION</th>
                        <th>DATE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody id="casenote">
                    <tr >
                        <td data-label="TITLE">IMPORTANT READ!</td>
                        <td data-label="DESCRIPTION">Please read the comments in source code left by FE developer</td>
                        <td data-label="DATE">03/07/2025</td>
                        <td data-label="ACTION" class="actions">
                            <i class='bx bxs-edit' title="Edit"></i>
                            <i class='bx bxs-x-circle' title="Archive"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script src="~/js/CaseDetails.js"></script>
<script>
    function CreateHearing() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/Hearing/create?id=${erccaseId}`;
    }
    function CreateRelatedCase() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/Relatedcase/create?id=${erccaseId}`;
    } 
    function CreateAssignment() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/CaseAssignment/create?id=${erccaseId}`;
    }
    function CreateTask() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/CaseTask/create?id=${erccaseId}`;
    }
    function CreateNote() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/CaseNote/create?id=${erccaseId}`;
    }
    function AttachDocument() {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = `/caseattachments/upload?id=${erccaseId}`;
    }
    function Create(controllerName) {
        const urlParams = new URLSearchParams(window.location.search);
        const erccaseId = urlParams.get('id');
        window.location.href = '/' + controllerName + `/create?id=${erccaseId}`;
    }

</script>